
body {
    font-family: Impact, sans-serif;
    letter-spacing: 1px;
    background: rgb(228, 228, 228);
}

#mess {
    font-size: 2em;
    text-align: center;
}

#game {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

h1 {
    font-size: 10em;
}

#game img {
    width: 300px;
    border-radius: 15px;
}

#buttons {
    display: flex;
    justify-content: center;
}

#buttons button {
    font-size: 2em;
    padding: 10px;
    border-radius: 5px;
    background:rgb(255, 245, 234);
}

#buttons button:hover {
    transform: scale(1.02);
    transition: 0.3s;
    cursor: pointer;
}

