

* {
	margin: 0;
	padding: 0;
}

html {
	font-family: Verdana, sans-serif;
}

h1, h2, h3, nav {
	text-transform: uppercase;
}

header, footer {
	display: flex;
	background: rgb(255, 255, 255);
}

header img, footer img {
	height: 100px;

}

header img:hover, footer img:hover {
	animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
	perspective: 1000px;
  }
  
  @keyframes shake {
	10%, 90% {
	  transform: translate3d(-1px, 0, 0);
	}
	
	20%, 80% {
	  transform: translate3d(2px, 0, 0);
	}
  
	30%, 50%, 70% {
	  transform: translate3d(-4px, 0, 0);
	}
  
	40%, 60% {
	  transform: translate3d(4px, 0, 0);
	}
  }

header a, footer a, header nav a {
	color: #2e2e2e;
}

header h1, footer h1 {
	font-size: 1.2em;
	margin: auto 2%;
}

nav a {
	text-decoration: none;
	color: rgb(41, 41, 41);
}

.text a {
	text-decoration: none;
	color: red;
}

a:hover {
	color: rgb(99, 99, 99);
	transition: 0.3s;
}

/*header*/
nav {
	width: 100%;
	height: 10vh;
	display: flex;
	align-items: center;
    font-size: 1em;
	font-weight: bold;
}

nav a {
	justify-content: space-between;
	margin: 0 10px;
}

/*section*/
.parallax-hero {
	height: 90vh;
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	background-image: url(../images/port-de-sete.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
}

section h1, section h2 {
	width: 100%;
	font-weight: bold;
	text-align: center;
	text-shadow: 0 0 15px rgba(0,0,0,0.8);
}

.title1 {
	position: absolute;
	top: 50vh;
	z-index: 4;
	font-size: 5em;
	letter-spacing: 10px;
	color: white;
	white-space: nowrap;
    animation: text 3s 1;
}

.title2 {
	position: absolute;
	top: 60vh;
	z-index: 3;
	font-size: 3em;
    color: gold;
    animation: second 6s 1 ease;
}

@keyframes text {
    0%{
        opacity: 0;
    }
    30%{
    	font-size: 4em;
        opacity: 0;
    }
    85%{
    	font-size: 5em;
        opacity: 1;
    }
}

@keyframes second {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0;
        margin-top: -100px;
    }
    100%{
        opacity: 1;
    }
}

.sectimg {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin: 0 200px;
}

.sectimg figure {
	max-width: 40%;
	margin: 20px;
}

.sectimg img {
	height: 40vh;
}

.sectimg figcaption {
	display: none;
}

.text {
	max-width: 40%;
	padding: 60px;
	margin: 0 auto;
}

.text h3 {
	color: #49589F;
	text-align: center;
	margin-bottom: 10px;
}

.text p {
	font-size:14px;
	line-height:24px;
	text-align: justify;
}

.citation {
	
    padding-left: 15px;
    border-left: 5px solid #eee;

}
/*footer*/
footer {
	justify-content: space-between;
	border-top: 2px solid white;
	margin-top: 25px;
}

footer p {
	margin: 0 2%;
}

/*media queries*/
@media screen and (max-width: 1500px) {
	.sectimg {
		margin: 0 50px;
	}
  }

  @media screen and (max-width: 1200px) {
	.sectimg figure {
		max-width: initial;
	}
	
	.text {
		max-width: initial;
		padding: 5px;
	}
}